AddDefaultCharset utf-8

RewriteEngine On

RewriteRule ^register$	/index.php?page=register	[L]
RewriteRule ^login$	/index.php?page=login	[L]
RewriteRule ^lostpassword$ /index.php?page=lostpassword [L]
RewriteRule ^logout$	/index.php?page=logout	[L]

RewriteRule ^lot/(.*).html  /index.php?page=lot&lot_id=$1 [L]
RewriteRule ^category/(.*)$ /index.php?category=$1  [L]

RewriteRule ^add$   /index.php?page=add [L]
RewriteRule ^profile$   /index.php?page=profile [L]

RewriteRule ^admin$ /admin.php [L]
RewriteRule ^admin/users$ /admin.php?page=users [L]
RewriteRule ^admin/users/edit/(.*)$ /admin.php?page=edit-user&user_id=$1  [L]

RewriteRule ^admin/lots$ /admin.php?page=lots [L]
RewriteRule ^admin/lots/edit/(.*)$  /admin.php?page=edit-lot&lot_id=$1  [L]
RewriteRule ^admin/lots/add$  /admin.php?page=add-lot [L]

RewriteRule ^admin/categories$  /admin.php?page=categories  [L]
RewriteRule ^admin/categories/edit/(.*)$  /admin.php?page=edit-category&cat_id=$1  [L]
RewriteRule ^admin/categories/add$  /admin.php?page=add-category [L]
