AddDefaultCharset utf-8

RewriteEngine On
RewriteRule ^validation$	/index.php?page=validation	[L]
RewriteRule ^logout$	/index.php?page=logout	[L]

RewriteRule ^add$   /index.php?page=add [L]
RewriteRule ^profile$   /index.php?page=profile [L]

RewriteRule ^admin$ /admin.php [L]
RewriteRule ^admin/users$ /admin.php?page=users [L]
RewriteRule ^admin/users/edit/(.*)$ /admin.php?page=edit-user&user_id=$1  [L]

RewriteRule ^admin/lots$ /admin.php?page=lots [L]
