AddDefaultCharset utf-8

RewriteEngine On

RewriteRule ^register$	/index.php?page=register	[L]
RewriteRule ^login$	/index.php?page=login	[L]
RewriteRule ^lostpassword$ /index.php?page=lostpassword [L]
RewriteRule ^logout$	/index.php?page=logout	[L]

RewriteRule ^lot/(.*).html  /index.php?page=lot&lot_id=$1 [L]
RewriteRule ^category/(.*)$ /index.php?category=$1  [L]

RewriteRule ^add$   /index.php?page=add [L]
RewriteRule ^mylots$   /index.php?page=mylots [L]
RewriteRule ^favourites$  /index.php?page=favourites  [L]
RewriteRule ^settings$  /index.php?page=settings  [L]

RewriteRule ^admin$ /admin.php [L]
RewriteRule ^admin/users$ /admin.php?page=users [L]
RewriteRule ^admin/users/edit/(.*)$ /admin.php?page=edit-user&user_id=$1  [L]

RewriteRule ^admin/lots$ /admin.php?page=lots [L]

RewriteRule ^admin/categories$  /admin.php?page=categories  [L]
