@import url('https://fonts.googleapis.com/css?family=Poor+Story|Spicy+Rice');
#plus{
  font-size: 24px;
}
*{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: none;
  color: black;
}
#logo{
text-align: center;
  font-family: 'Poor Story', cursive;
  font-weight: 600;
  font-size: 62px;
}
#logo:hover{
  cursor: pointer;
  transition: 0.4s linear;
  color: green;
}
.content{
  text-align: center;
  font-size: 16px;
}
#regbtn{
  font-weight: 600;
  background: transparent;
  border: 2px solid black;
  margin-top: 25px;
  font-size: 18px;
  border-radius: 15px;
  padding: 10px;
}
#regbtn:focus{
  transition: 0.5s linear;
  border: 2px solid red;
}
#regbtn:hover{
  transition: 1s;
  border: 2px solid #2f3542;
}
#login button{
  background: transparent;
  border:1px solid black;
  border-radius: 5px;
  padding: 2px;
  font-family: 'Poor Story', cursive;
  margin-top: 5px;
}
#form_reg input, #log input{
  width: 90%;
  height: 35px;
margin-top: 20px;
border-radius: 15px;
border:3px solid grey;
  padding-left: 5px;
}

input:focus, button{
  outline: 0;
}
#form_reg{
  border:0px;
  border-radius: 25px;
  padding:25px;
  width: 350px;
  min-height: 100%;
  -webkit-box-shadow: 0px 2px 18px 10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 18px 10px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 18px 10px rgba(0,0,0,0.75);
}

.form_add input, .form_add select{
  width: 90%;
  height: 35px;
margin-top: 20px;
border-radius: 15px;
border:3px solid grey;
  padding-left: 5px;
}
.form_add textarea{
  margin-top: 20px;
  border-radius: 15px;
  border:3px solid grey;
    padding-left: 5px;
}

input:focus,textarea:focus, select:focus{
  outline: 0;
}
.form_add{
  border:0px;
  border-radius: 25px;
  padding:25px;
  width: 350px;
  min-height: 100%;
  /* background: #C3AFFF; */
  -webkit-box-shadow: 0px 2px 18px 10px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 18px 10px rgba(0,0,0,0.75);
box-shadow: 0px 2px 18px 10px rgba(0,0,0,0.75);
}
#log{
text-align: center !important;
}
#log{
 width: 300px;
 margin: auto;
 -webkit-box-shadow: 0px 2px 18px 10px rgba(0,0,0,0.75);
 -moz-box-shadow: 0px 2px 18px 10px rgba(0,0,0,0.75);
 box-shadow: 0px 2px 18px 10px rgba(0,0,0,0.75);
 border-radius: 15px;
 padding: 25px;
}
#logbtn{
  background: transparent;
  border:2px solid black;
  margin-top: 10px;
  width: 60%;
  border-radius: 15px;
}
.log{
  transition: 1s linear;
  position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 999;
margin: auto;
width: 300px;
height: 10vh;
display: none;
}
.add{
  font-family: 'Poor Story', cursive;
  font-weight: 600;
  margin-top: 10px;
  padding: 7px;
  background: transparent;
  border: 2px solid black;
  border-radius: 15px;
}
.add:hover{
  border: 2px solid wheat;
  transition:0.5s linear;
}
.custom-select{
  padding: 0px;
}
